body {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  padding: 3%;

  color: white;
  text-align: center;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
#titoloBenchmark {
  font-size: 2em;
}

#logo {
  margin-bottom: 2em;
  height: 12%;
  width: 12%;
  display: flex;
}

.bottone {
  background-color: #00054b;
  color: #fff;

  border-radius: 100px;
  width: 30%;
  height: 35px;
  margin: 2%;
}
.bottone {
  color: #fff;

  border-radius: 100px;
  width: 25%;
  height: 100px;
  margin: 2%;

  background: rgba(255, 255, 255, 0.21);
  border-radius: 50px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  border: 1px solid rgba(255, 255, 255, 1);
  width: 30%;
  font-size: 1.5rem;
}
header {
  display: flex;
  justify-content: space-between;
}

.selected {
  background-color: hsl(316deg 100% 37%);
}

.benchmarkTitolo {
  margin-top: 10%;
}
#bottoni {
  margin-top: 3%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#bottone1,
#bottone2,
#bottone3,
#bottone0 {
  box-shadow: -2px -3px #e8d3e6;
}

.numeroDomande {
  margin-top: 3.7em;
  display: flex;
  flex-direction: wrap;
  justify-content: center;
  font-size: 1.1em;
}
.totaleDomande {
  color: hsl(316deg 100% 37%);
  font-weight: 700;
}

/* Sets the containers height and width */
.base-timer {
  position: relative;
  width: 150px;
  height: 150px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
