body {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  padding: 3%;

  color: white;
  text-align: center;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}
#benchmarkTitolo {
  font-size: 36px;
}

#logo {
  margin-bottom: 2em;
  height: 12%;
  width: 12%;
  display: flex;
}

/* .bottone {
  background-color: #00054b;
  color: #fff;

  border-radius: 100px;
  width: 30%;
  height: 35px;
  margin: 2%;
} */
.bottone {
  background-color: #00054b;
  color: #fff;

  border-radius: 100px;
  width: 30%;
  height: 35px;
  margin: 2%;
}
.selected {
  background-color: #620062;
}

.benchmarkTitolo {
  margin-top: 10%;
}
#bottoni {
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.numeroDomande {
  display: flex;
  flex-direction: wrap;
  justify-content: center;
}
