/* BODY */

body {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  padding: 3%;
  display: block;
  margin-right: auto;
  color: white;
  text-align: center;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

header {
  margin-left: -2.5%;
}

body img {
  height: 11.8%;
  width: 11.8%;
}

/* MAIN */

main {
  font-size: 1.5em;
  padding: 8%;
  margin-top: 2em;
  padding-top: 1.5em;
}

main h1 {
  font-size: 1.7em;
  font-weight: 700;
}

#logo {
  text-align: left;
  margin-bottom: 2em;
  padding-right: 90%;
  margin-left: 2em;
  
}
.voto {
  font-size: 0.9em;
}
#star10 {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1em;
}

#star10 img {
  width: 1.2em;
  margin-bottom: 1.5em;
  display: inline-flex;
  padding-right: 0.15em;
}

.voto {
  margin-bottom: 1em;
  font-size: 0.8em;
}

.comment {
  margin-top: 2em;
  font-size: 0.5em;
  width: 60%;
  border: 0;
  border-bottom: 1px solid #c2128d;
  color: white;
  background: transparent;
  transition: border-color 0.2s;
  text-align: left;
  padding-left: 2em;
}

.form1 {
  display: block;
}

.celeste {
  height: 50px;
  width: 150px;
  background-color: #00fbfb;
  color: #0b113b;
  font-size: 60%;
  font-weight: bold;
  border: 1px solid #11aac5;
  box-shadow: 0px 0px 40px 5px rgba(0, 251, 251, 0.5);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5em;
  font-weight: 800;
}

.feedback {
  font-size: 0.9em;
  margin-bottom: 1em;
}

/* *********** style star ************ */

.star {
  content: url("../images/star.svg");
}

.star.piena ~ .star {
  content: url("../images/star1.svg");
}
