body {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  padding: 3%;
  color: white;
  text-align: center;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

header {
  text-align: left;
}

body img {
  height: 12%;
  width: 12%;
}
section {
  padding-top: 1em;
  line-height: 2.5em;
}

.resultstitolo {
  font-size: 2.8em;
  font-weight: bold;
}

.resultdescription {
  font-size: 1.5em;
}

.resultsMain {
  display: flex;
  align-content: center;
  text-align: left;
  justify-content: space-around;
}

.resultsbox-risposta1 {
  margin: 9% 5%;
  padding-top: 2em;
}

.resultsbox-risposta2 {
  margin: 9% 5%;
  text-align: right;
  padding-top: 2em;
}
.resultsrisposte {
  font-size: 3.2em;
}

.resultspercentuale {
  font-size: 3.2em;
  font-weight: bold;
  line-height: 0.5em;
}

.resultsrisultato {
  line-height: 3em;
}

.resultscerchio {
  text-align: center;
  padding-top: 0.1%;
}
#resultsrisultatoTestoBlu {
  color: #0ff;
  font-weight: bold;
  padding-top: 4%;
}

#resultstestoCerchio {
  padding: 8% 15% 2% 15%;
}

.resultsspaceButton {
  padding-top: 1%;
  padding-left: 1.5em;
}

.resultsbuttonRateUS {
  height: 58px;
  width: 190px;
  background-color: rgba(0, 251, 251, 0);
  color: white;
  font-size: large;
  font-weight: bold;
  border: 2px solid white;
  box-shadow: rgb(130 150 150 / 50%) 0px 0px 10px 5px;
}
.resultsbox-risposta2 {
  margin: 9% 5%;
  text-align: right;
  padding-top: 2.5em;
}
